*{
    margin: 0;
    padding: 0;
  
    
}
.webpage {
    width: 1400px;
}
 /* navbar section */
#navbar{
    height: 4.5rem;
    width: 1400px;
    background-color: rgba(0, 76, 240 ,0.9);
    display: flex;
    flex-direction: row;
    position:fixed;
    top: 0;
    z-index: 3;

    
    
}
#logo{
    width: 15%;
    height: 100%;
    text-align: center;
}
#logo img{
    height: 70px;
    width: 140px;
    color: white;
}
#menu{
    width: 60%;
    height: 100%;
    
}
#menu ul {
  padding-top:1.5rem ;
}
#menu ul li{
    display: inline;
    margin: 0.7rem;
    font-size: 1rem;
    color: white;
}
#login{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
#bemen{
    height: 4.5rem;
    width: 80px;
    color: white;
    font-size: 1rem;
    line-height: 4.5rem;
}
#playstore{
    height: 2.5rem;
    width: 40px;
  
    border: 2px solid white;
    border-radius: 5px;
    margin: 14px;
}
#playstore img{
    height: 1.8rem;
    width: 30px;
    margin: 6px;
}

#loginbutt{
    height: 2.5rem;
    width: 80px;
    border: 2px solid white;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 15px;
    padding: 0px 10px;
    line-height: 2.5rem;

}
#loginbutt:hover{
    background-color: white;
    color: black;
    transition: 0.8s ease-in-out;
}
/* Main section */
#main{
    height: 40rem;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,82,158,1) 47%, rgba(0,212,255,1) 100%);
    /* background-color: rgb(66, 123, 237); */
    display:flex;
    flex-wrap: nowrap;
   
    
}
.main1{
    height: 100%;
    width: 60%;
    /* background-color: green; */
    color: white;
    text-align: center;
    /* line-height: 50px; */
    /* border: 2px solid black; */
    font-family: sans-serif;
}
.main1 h1{
    font-size: 3.5rem;
    margin: 40px;
    margin-top: 150px;
}
.main1 h2{
    font-size: 1.3rem;
    font-weight: lighter;
}

/* form section */
.form{
    margin: 90px;
    padding: 40px;
    height:83%;
    width: 40%;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 10px grey;
    /* border: 2px solid black; */
    /* line-height:40px; */
}
.form span{
    color: #E23F5B;
}
.form h3{
    margin-top: 10px;
    font-weight: lighter;
    color: #364764;
    font-size: 1rem;
    margin-bottom: 20px;
}
input[type=radio] {
    margin: 10px;
    margin-left: 40px;
    margin-bottom: 30px;
     width: 5%;
    height: 1.2rem;
    color: #364764;
}
input[type=text]{
    margin-top: 25px;
    height: 2.7rem;
    width: 95%;
    border-radius: 5px;
    border: 0.2rem solid #eaeff4;
    color: #364764;
    font-size: 1rem;
    padding-left:15px;
}
input[type=email]{
    margin-top: 25px;
    height: 2.7rem;
    width: 95%;
    border-radius: 5px;
    border: 0.2rem solid #eaeff4;
    color: #364764;
     font-size: 1rem;
     padding-left:15px;
}
input[type=number]{
    margin-top: 25px;
    height: 2.7rem;
    width: 95%;
    border-radius: 5px;
    border: 0.2rem solid #eaeff4;
    color: #364764;
    font-size: 1rem;
    padding-left:15px;
}
button{
    margin-top: 20px;
    height: 2.8rem;
    width: 50%;
   background-color: #E23F5B;
   color: white;
   border-radius: 5px;
   border: 2px solid #E23F5B;
   font-size: 0.9rem;
}
button:hover{
    background-color: yellowgreen;
    border: 2px solid yellowgreen;
    color: black;
}
.form p{
    font-size: 0.8rem;
    font-weight: light;
    color:#364764;
}
/* statics div section */
#div_number{
    margin-left: 30px;
    height: 80px;
    width: 50%;
   background-color: white;
    position: relative;
    top: -30px;
    border: 5px solid white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(1,1fr);
    font-size: 0.8rem;
    box-shadow: 1px  1px 10px grey;

}
.ctc{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.percent{
    font-size: 1.3rem;
    color: #20A164;
    margin-right: 10px;
}
.industry{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.top{
    font-size: 1.3rem;
    color: #FC9100;
    margin-right: 10px;
}
.placement{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.placenum{
    font-size: 1.3rem;
    color: #E22D4c;
    margin-right: 10px;
}

/* Attend a masterclass section */

.masterclass{
    height: 15rem;
    width: 95%;
    background-color: whitesmoke;
    margin:30px;
 
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px 10px;
    border: 2px solid grey;
    border-radius: 10px;
    
    

}
.char{
    /* background-color: red; */
    background-image: url(./image/anshuman_logo.png);
    width: 100%;
}
.master{
    align-self: center;
    /* justify-self: center; */
   
}
.bg{
    background-image: url(bgmaster.gz);
    background-size: cover;
}
#mstr{
    padding: 5px;
    font-size: 0.8rem;
    width: 60%;
    background-color: #ff8000;
    color: white;
    border: 2px solid #ff8000;
    border-radius: 5px;
}
#live{
    margin-top: 15px;
    color: #005AB3;
    font-size: 1.5rem;
}
#allmstr{
    margin-top: 20px;
    height:3rem;
    width: 80%;
   background-color: #f32c4d;
   color: white;
   border-radius: 5px;
   border: 2px solid #f32c4d;
   font-size: 1.2rem;

}
#mstrlogo img{
    height: 7rem;
    /* padding: 20px; */

}
/* program section */
.program{
    height: 50rem;
    width: 100%;
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#pgrp{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    
}
.bachelor{
    height: 100%;
    width: 22%;
    border: 2px solid green;
    box-shadow: rgba(19,46,112,0.1) 0 1rem 4rem 0;
    background-color: white;
    border-radius: 10px;
    transition:0.8s ;
   
}
.bachelor:hover{
      transform: scale(1.05);
}
.bachelordiv{
    height: 21%;
    width: 100%;
    background: linear-gradient(90deg, #002a66 0%, #005ab3 100%);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: start;
    border-radius: 10px 10px 0px 0px;
  
}
.bachelordivdiv1{
    padding-top: 50px;
    height: 100%;
    width: 60%;
    font-size: 1.8rem;
    color: white;

}
.hat{
    height: 100px;
    width: 80px;
}
.bachelor_matter{
    text-align: start;
    margin: 20px;
 
}
#passout{
    font-size: 1rem;
    color: #364764;
    margin: 20px;
    color: #61738E;
}
.head{
    font-size:1.1rem;
    font-weight: bold;
    margin: 20px 0px;
    text-align: start;
}
.matter_text{
    color: #61738E;
    font-size: 1rem;
    line-height: 20px;
}
.program_scalerimg{
    height: 80px;
    width: 150px;
}
#learnmore{
    font-size: 1.5rem;
    font-weight: bold;
    color: #0080FF;
    /* margin-bottom: 1.5rem; */
}

.software{
    height: 100%;
    width: 22%;
    border: 1px solid white;
    background-color: white;
    box-shadow: rgba(19,46,112,0.1) 0 1rem 4rem 0;
    border-radius: 10px;
    transition:0.8s ;
}
.software:hover{
    transform: scale(1.05);
}
.software_div{
    height: 21%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:linear-gradient(94.33deg, #0359af -26.26%, #0776dd 128.29%)
}
.software_div_div1{
   padding-top: 50px;
    height: 100%;
    width: 60%;
    font-size: 1.8rem;
    color: white;
}
.soft_img{
    height: 70px;
    width: 70px;
}
.software_matter{
    text-align: start;
    margin: 20px;
 
}
#soft_passout{
    font-size: 1rem;
    color: #364764;
    margin: 20px;
    color: #61738E;
}
.soft_head{
    font-size:1.1rem;
    font-weight: bold;
    margin: 20px 0px;
    text-align: start;
}
.soft_matter_text{
    color: #61738E;
    font-size: 1rem;
    line-height: 20px;
}
#project{
    font-size: 1rem;
    margin-top:3rem ;
    color: #364764;
    font-weight: bold;
}

#project_learnmore{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0080FF;
    /* margin-bottom: 1.5rem; */
}

.datascience{
    height: 100%;
    width: 22%;
    border: 1px solid white;
    background-color: white;
    box-shadow: rgba(19,46,112,0.1) 0 1rem 4rem 0;
    border-radius: 10px;
    transition:0.8s ;
}
.datascience:hover{
    transform: scale(1.05);
}
.datascience_div{
    height: 21%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:linear-gradient(94.45deg, #33003c -16.41%, #8000ff 128.28%)
}
.datascience_div_div1{
    padding-top: 50px;
    height: 100%;
    width: 60%;
    font-size: 1.8rem;
    color: white;
}
.data_img{
    height: 70px;
    width: 70px;
}
.data_matter{
    text-align: start;
    margin: 20px;
 
}
#data_passout{
    font-size: 1rem;
    color: #364764;
    margin: 20px;
    color: #61738E;
}
.data_head{
    font-size:1.1rem;
    font-weight: bold;
    margin: 20px 0px;
    text-align: start;
}
.data_matter_text{
    color: #61738E;
    font-size: 1rem;
    line-height: 20px;
}
#data_project{
    font-size: 1rem;
    margin-top:6rem ;
    color: #364764;
    font-weight: bold;
}

#data_learnmore{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0080FF;
    /* margin-bottom: 1.5rem; */
}

.masterdegree{
    height: 100%;
    width: 22%;
    border: 1px solid white;
    background-color: white;
    box-shadow: rgba(19,46,112,0.1) 0 1rem 4rem 0;
    border-radius: 10px;
    transition:0.8s ;
}
.masterdegree:hover{
    transform: scale(1.05);
}
.masterdegreediv{
    height: 21%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:linear-gradient(95.24deg, #bf6204 0%, #ffb56a 137.16%)
}
.masterdegreediv_div1{
    padding-top: 50px;
    height: 100%;
    width: 60%;
    font-size: 1.8rem;
    color: white;
}
.master_degree{
    height: 70px;
    width: 70px;
}
.masterdegree_matter{
    text-align: start;
    margin: 20px;
 
}
#masterdegree_passout{
    font-size: 1rem;
    color: #364764;
    margin: 20px;
    color: #61738E;
}
.masterdegree_head{
    font-size:1.1rem;
    font-weight: bold;
    margin: 20px 0px;
    text-align: start;
}
.masterdegree_matter_text{
    color: #61738E;
    font-size: 1rem;
    line-height: 20px;
}
.master_project{
    font-size: 1rem;
    margin-top:4.5rem ;
    color: #364764;
    font-weight: bold;
}

#master_learnmore{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0080FF;
}

/* Facility section */
#facility{
    margin-top: 5rem;
}

.facility_heading{
    text-align: center;
    font-size: 2.5rem;
    /* font-weight: bold; */
}
.facility_main{
    width: 100%;
    height: 70rem;
    /* background-color: greenyellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item{
    width: 28rem;
    height: 23rem;
    border-radius: 1.2rem;
    background-color: #e6f2ff;
    border: 1px solid white;
    margin: 30px;
}
#item1{
  align-items: center;
   text-align: center;
}
.item1_head{
    font-size: 24px;
    color: #0080FF;
    margin-top: 30px;
    padding: 24px 40px 12px 41px;
    line-height: 30px;

}
.item1_para{
    font-size: 16px;
    color: #1A2C47;
    padding: 0px 31px 18px 32px;
    line-height: 20px;
}

.item1img{
    border: 15px solid white;
    border-radius: 10px;  
}
#item2{
    align-items: center;
     text-align: center;
     background-color: #f3e8fc;
}
.item2_head{
    font-size: 24px;
    color: #913ECE;
    
    margin-top: 30px;
    padding: 24px 40px 12px 41px;
    line-height: 30px;

}
.item2_para{
    font-size: 16px;
    color: #1A2C47;
    padding: 0px 31px 18px 32px;
    line-height: 20px;
}

.item2img{
    border: 15px solid white;
    border-radius: 10px;  
}
#item3{
    align-items: center;
     text-align: center;
     background-color: #fff3e3;
}
.item3_head{
    font-size: 24px;
    color: #FC9100;
    margin-top: 30px;
    padding: 24px 40px 12px 41px;
    line-height: 30px;

}
.item3_para{
    font-size: 16px;
    color: #1A2C47;
    padding: 0px 31px 18px 32px;
    line-height: 20px;
}

.item3img{
    border: 15px solid white;
    border-radius: 10px;  
}

/* Alumnai section */


.alumni_head{
    font-size: 3rem;
    text-align: center;
    margin: 5rem 0rem 2rem 0rem ;
}
.alumni_section{
    height: 35rem;
    width: 100%;
    /* background-color: greenyellow; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.alumni_item{
    height:95% ;
    width: 20%;
    /* background-color: pink; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.4rem 0.7rem 2.8rem 0 rgba(68,77,91,0.14);
    transition: 1s;
}
.alumni_item:hover{
     transform: scale(1.05);
}
.hike_num{
    font-size: 1rem;
    color: #1A923A;
    align-self: flex-end;
    margin:10px 10px 20px 0px ;
    border: 1px solid #1A923A;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}
.alumni_item_img1{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow:1px 1px 10px #364764;
    
}
.alumni_item_name{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0px 10px 0px;

}
.alumni_item_dob{
    font-size: 1rem;
    color: #364764;
}
.alumni_item_pre{
    margin: 30px 0px 5px 0px;
    font-size: 0.8rem;
    color: #364764;
    text-align: center;
    
}
.alumni_item_pre_company{
    font-size: 1.5rem;
    font-weight: bold;
}
.alumni_item_ar{
    color: blue;
    font-size: 2rem;
    font-weight: bold;
}
.alumni_item_logo_pre{
    margin: 10px 0px 20px 0px;
    text-align: center;
    font-size: 0.8rem;
    color: #364764;

}
.company_logo{
    height: 3rem;
    width: 90%;
}
.alumni_item_footer{
    font-weight: 1rem;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
}
.alumni_item2_name{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0px 10px 0px;

}
.see_more{
    display: flex;
    justify-content: center;
}
#see_more{
    text-align: center;
    margin-top: 3rem;
    padding-top: 15px;
    height: 2rem;
    width: 15rem;
    border: 2px solid #E22D4c;
    background-color: #E22D4c;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;

}
#see_more:hover{
    opacity: 0.8;
}

/* some additonal informatio section */
.professional{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.professional_head{
    font-size: 2.5rem;
    text-align: center;
    margin: 5rem 0rem 2rem 0rem ;
}
.professional_main{
    height: 37rem;
    width: 90%;
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.professional_item{
    height: 15.5rem;
    width: 40%;
    margin: 0.5rem 0.5rem 0rem 0.5rem ;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;

}
.professional_item:hover{
    transform: scale(1.05);
    transition: 0.8s ;
}
.professional_item1{
    /* background-image: linear-gradient(to right, #37234F, #6A4198); */
    display: flex;
    flex-direction: column;
    /* justify-items: center; */

}
.professional_item_upper{
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to right, #37234F, #6A4198);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 1rem 0rem 0rem;
}
.professional_item_upper_img{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.professional_item_upper_msg{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    
}
.professional_item_upper_msg_up{
    height: 60%;
    width: 100%;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.professional_item_upper_msg_down{
    height: 40%;
    width: 100%;
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.professional_item_upper_msg_down_name{
    margin: 0px 10px 0px 10px;
    font-size: 1rem;

}
.profee_item_img{
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
}
.professional_item_upper_msg_down_com{
    border: 2px solid white;
    border-radius: 30px;
    background-color: white;
    height: 2rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #364764;
}
.professional_item_upper_msg_down_com_com2{
    color: #E22D4c;
    font-weight: bold;

}
.professional_item_lower{
    width: 100%;
    height: 20%;
    color: white;
    display: flex;
    align-items: center;
    border-radius:0rem 0rem 1rem 1rem;

  /* padding: 10px 0px 0px 10px; */
    background-image: linear-gradient(to right, #4c2e6b, #663e93);
  
}
.professional_item_lower_div{
    margin-left: 20px;
}
.professional_item_lower_div b{
    color: white;
    font-weight: bold;
}
#professional_item_lower2{
    background-image: linear-gradient(to right, #25626d, #3a819d)
}
#professional_item_lower3{
    background-image: linear-gradient(to right, #cd647e, #e97b95);
}
#professional_item_lower4{
    background-image: linear-gradient(to right, #b18f3c, #daa430);
}
#professional_item_upper2{
    background-image: linear-gradient(to right, #3e747b, #508fa7);
}
#professional_item_upper3{
    background-image: linear-gradient(to right, #c84d6a, #e76683);
}
#professional_item_upper4{
    background-image: linear-gradient(to right, #b89c56, #deae31);
}


/* company hired section */

#hired{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hired_head{
    font-size: 2.5rem;
    text-align: center;
    margin: 5rem 0rem 2rem 0rem ;
}
.hired_main{
    height: 30rem;
    width: 90%;
    background-color: white;
    box-shadow: 0.4rem 0.7rem 2.8rem 0 rgba(68,77,91,0.14);
    border-radius: 1rem;
}
.hired_main_up{
    height: 70%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;

}
.hired_main_up_up{
    height: 90%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
   flex-wrap: wrap;
   /* align-items: center; */
   justify-content: space-evenly;
   align-content: space-evenly;

}
.hired_main_up_up_logo{
    height: 20%;
    width: 19%;
    margin: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: orangered; */
    /* grid-gap: 10px 10px; */
}
.hired_main_up_up_logo:hover{
    transform: scale(1.1);
    transition: 1s;
}
.Facebook-Logo{
    height: 3rem;
    width: 12.5rem;
}
.google_logo{
    height: 5rem;
    width: 10rem;
}
.directi_logo{
    height: 3.5rem;
    width: 12.5rem;
}
.netflix_logo{
    height: 2rem;
    width: 8rem; 
}
.amazon_logo{
    height: 2.5rem;
    width: 8rem;
}
.microsoft_logo{
    height: 3rem;
    width: 8rem; 
}
.twitter_logo{
    height: 2rem;
    width: 8rem; 
}
.adobe_img{
    height: 3rem;
    width: 8rem; 
}
.mindtickle_logo{
    height: 2rem;
    width: 8rem; 
}
.dream11_logo{
    height: 2rem;
    width: 8rem; 
}
.flifcart_logo{
    height: 3rem;
    width: 8.5rem;
}
.goldmnsachs_logo{
    height: 3rem;
    width: 8.5rem;
}
.seqoia_logo{
    height: 4rem;
    width: 10rem;
}
.fab_logo{
    height: 2rem;
    width: 7.5rem; 
}
.qualcomm_logo{
    height: 2rem;
    width: 8rem;
}
.rippling_logo{
    height: 4rem;
    width: 8rem;
}
.youtube_logo{
    height: 4rem;
    width: 8rem;
}
.zomato_logo{
    height: 4rem;
    width: 8rem;
}
.curefit_logo{
    height: 3rem;
    width: 8rem;
}
.myntra_logo{
    height: 2rem;
    width: 8rem;
}
.hired_main_up_down{
    height: 10%;
    width: 100%;
    background-color: white;
    text-align: center;
    
}
.hired_main_down{
    height: 30%;
    width: 100%;
    /* background-color: aqua; */
}
.hired_down_img{
    height: 100%;
    width: 100%;
}


/* certificate section */


.certificate{
    height: 22rem;
    width: 95%;
    margin: 2rem;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.certificate_main{
    height: 18rem;
    width: 90%;
    background-color: white;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

}
.certificate_main_img{
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.certificate_img{
    height: 14rem;
    width: 20rem;
    border-radius: 1rem;
}
.certificate_main_msg{
    height: 100%;
    width: 65%;
   font-size: 1.5rem;
   color: #364764;

    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

/* footer section */
#footer{
    height: 40rem;
    width: 100%;
    background-color: #202738;
    display: flex;
    justify-content: center;
}
.footer_main{
    height: 37rem;
    width: 95%;
    background-color: #202738;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_main_up{
    height: 60%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.footer_main_up_item{
    height: 100%;
    width: 23%;
    /* background-color: yellow; */
    margin: 1px;

}
.scaler_footer_img{
    height: 19rem;
    width: 95%;
}
#footer_main_up_item_position{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;

}
.footer_main_up_item_data{
    color: #A2B8EE;
    font-size: 1rem;
    margin: 0.25rem 0rem 0.25rem 5rem;
}
#footer_main_up_item_data{
    color: white;
    font-size: 2rem;
    margin:2rem 0 2rem 5rem;
}
.footer_main_down{
    height: 40%;
    width: 90%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
 justify-content: center;
 border-top: 2px solid grey; 
}
.footer_main_down_heading{
    font-size: 2rem;
    color: white;
    margin: 1rem 0 1rem 0;
}
.footer_main_down_msg{
    font-size: 1.2rem;
    color: #A2B8EE;
}